<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue 3</title>

    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>

    <div id="app">
        <ul v-if="fruitsShowing">
            <li>Apple</li>
            <li>Banana</li>
            <li>Orange</li>
        </ul>

        <button @click="fruitsShowing = !fruitsShowing">
            <span v-if="fruitsShowing === false">Show</span>
            <span v-else>Hide</span>
            Fruits
        </button>
    </div>


    <script src="/script.js"></script>
</body>

</html>